@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #191c1d;
  --font-headline: var(--font-body);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-headline), ui-sans-serif, system-ui, sans-serif;
}
